<div class="container">
  <div class="pt-5">

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">

          <div class="col-6">
            <h3>All Clients</h3>
          </div>

          <div class="col-6 text-end">
            <button class="btn btn-primary" (click)="createClientRequest()">Create Client</button>
          </div>
        </div>

      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Business Name</th>
            <th scope="col">Vat Number</th>
            <th scope="col">Email</th>
            <th scope="col">Insertion Date</th>
            <th scope="col">Pec</th>
            <th scope="col">Phone</th>
            <th scope="col">Contact Name</th>
            <th scope="col">Contact Surname</th>
            <th scope="col">Contact Phone</th>
            <th scope="col">Type</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of clientList; index as ind">
            <th scope="row">{{ind + 1}}</th>
            <td>{{item.businessName}}</td>
            <td>{{item.vatNumber}}</td>
            <td>{{item.email}}</td>
            <td>{{item.insertionDate| date: 'medium'}}</td>
            <td>{{item.pec}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.contactEmail}}</td>
            <td>{{item.contactName}}</td>
            <td>{{item.contactSurname}}</td>
            <td>{{item.contactPhone}}</td>
            <td>{{item.type}}</td>
            <td>
              <button class="btn btn-primary me-1" (click)="editClientRequest(item)">Edit</button>
              <button class="btn btn-danger" (click)="deleteClient(item, ind)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-clients></app-clients>
<!--<app-clients [client]="selectedClient" (save)="saveClientWatcher($event)"></app-clients>-->
